body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 900;
	font-style: italic;
	font-display: bold;
	padding: 10px;
	text-align: center;
}

h2 {
	font-weight: 700;
	font-style: italic;
	font-display: bold;
	padding-left: 25px;
	padding-top: 25px;
}

.bg-container {
	display: flex;
	justify-content: center;
	height: 800px;
}

.bg-body-tertiary {
	padding-bottom: 25px;
}

.card-footer-1 {
	text-align: center;
	padding-top: 210px;
}
